<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') -%>
</head>

<body>
  <div class="container">
    <ul class="menu list-group">
      <% meals.forEach((meal) => { %>
      <li class="meal list-group-item <%= meal.className %>">
        <p>Name: <%= meal.name %></p>
        <p>Type: <%= meal.type %></p>
        <p>Price: <%= meal.price %> RMB</p>
      </li>
      <% }) %>
    </ul>
  </div>
</body>

</html>